<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/sidebar.css" />
    <link rel="stylesheet" href="/css/allfiles.css" />
    <link rel="stylesheet" href="/css/success&error.css" />

    <title>All Files - My Drive</title>
  </head>
  <body>
    <button class="menu-toggle" onclick="toggleSidebar()">☰ Menu</button>
    <div class="container">
      <%- include('sidebar')%>
      <main class="main">
        <%- include('welcome.ejs')%>
        <h1>All Files</h1>
        <% if (success && success.length > 0) { %>
        <div class="flash-success"><%= success %></div>
        <% } %> <% if (error && error.length > 0) { %>
        <div class="flash-error"><%= error %></div>
        <% } %>
        <div class="file-list" id="fileList">
          <% files.forEach(file => { %>
          <div class="file">
            <span class="file-name"><%= file.fileName %></span>
            <span class="file-meta">
              <%= (file.fileSize / (1024 * 1024)).toFixed(2) %> MB - Uploaded on
              <%= new Date(file.uploadedAt).toLocaleDateString('en-US', { year:
              'numeric', month: 'short', day: 'numeric' }) %>
            </span>
            <div class="action">
              <form action="/delete-file/<%= file.id %>" method="POST">
                <button class="delete-btn" type="submit">Delete</button>
              </form>
              <form action="/download-file/<%= file.id %>" method="POST">
                <input
                  type="image"
                  src="/images/download.svg"
                  alt="Download button icon"
                />
              </form>
            </div>
          </div>
          <% }); %>
        </div>
      </main>
    </div>
    <script>
      function toggleSidebar() {
        document.getElementById("sidebar").classList.toggle("hidden");
      }
      function addActiveIndicator(element) {
        const elementDiv = document.querySelector(`.${element}`);
        console.log(elementDiv);
        if (elementDiv) {
          elementDiv.classList.add("active");
        }
      }

      addActiveIndicator("fileSide");
      document.addEventListener("DOMContentLoaded", () => {
        const flashMessages = document.querySelectorAll(
          ".flash-success, .flash-error"
        );
        flashMessages.forEach((msg) => {
          setTimeout(() => {
            msg.style.display = "none";
          }, 4000);
        });
      });
      document.querySelector("form").addEventListener("submit", function () {
        document.getElementById("upload-animation").style.display = "block";
        document
          .querySelectorAll(".flash-success, .flash-error")
          .forEach((msg) => {
            msg.style.display = "none";
          });
      });
    </script>
  </body>
</html>
